// Main element styles 

main {
    padding-top: 3rem;
    min-height: 50vh;
    background-color: $beige;
}

input {
    width: 50%;
    padding: 1rem 2rem;
}

button {
    background-color: $light-teal;
    color: $white;
    border: none;
    padding: 1rem 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}