// Media Queries for all sections

@media (max-width: 1280px) {
  header .text-container {
    bottom: 3.5rem;
    right: 3.5rem;
  }
  .results-container {
    padding: 3rem 0 10rem;
    ul li {
      margin: 5rem 2rem;
    }
    .results-text {
      width: 80%;
    }
  }
}

@media (max-width: 765px) {
  input {
    width: 85%;
  }
  button {
    margin-top: 1rem;
  }
}

@media (max-width: 690px) {
  header {
    padding-top: 6rem;
    .text-container {
      position: static;
      width: 100%;
    }
  }
  footer {
    font-size: 1.6rem;
  }
}

@media (max-width: 450px) {
  header {
    padding-bottom: 5rem;
    .text-container {
      padding: 3rem;
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 2.5rem;
      }
    }
  }
  .results-heading {
    font-size: 2rem;
    top: -1.8rem;
  }
}

@media (max-width: 375px) {
  header {
    background-attachment: scroll;
    padding-top: 3rem;
    .text-container {
      text-align: center;
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
}
