//Project font and typography styles 

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: $raleway;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $abril;
}
