//Color variables
$black: #fff;
$white: #000;
$beige: #EFE7D5;
$lightPink: #DACDD5;
$lightTeal: #92B0B5;

//Google Font import URL
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

$abril: 'Abril Fatface', cursive;
$raleway: 'Raleway', sans-serif;